{% extends "base.html" %}

{% load static %}

{% block content %}
    <div id="acc">
        <h2>Sign up here!:</h2>
        <hr>
        {% if message %}
            <h5>{{ message }}</h5>
        {% endif %}
        <form id="signup" method="post">
            {% csrf_token %}
            <div>
                <label for="id_full_name">Full Name:</label>
                <input type="text" name="full_name" id="id_full_name" required>
            </div>
            <div>
                <label for="id_email">Email:</label>
                <input type="email" name="email" id="id_email" required>
            </div>
            <div>
                <label for="id_password">Password:</label>
                <input type="password" name="password" id="id_password" required>
            </div>


            <button type="submit" class="nav-link">Sign Up</button>
        </form>
</div>
{% endblock %}
